In [33]:
import warnings, requests, zipfile, io 
warnings.simplefilter('ignore')
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [34]:
f_zip = 'https://archive.ics.uci.edu/static/public/10/automobile.zip'
r = requests.get(f_zip, stream=True)
Vertebral_zip = zipfile.ZipFile(io.BytesIO(r.content)) 
Vertebral_zip.extractall()

In [35]:
column_names = ['symboling',
                'normalized-losses',
                'make',
                'fuel-type',
                'aspiration',
                'num-of-doors',
                'body-style',
                'drive-wheels',
                'engine-location',
                'wheel-base',
                'length',
                'width',
                'height',
                'curb-weight',
                'engine-type',
                'num-of-cylinders',
                'engine-size',
                'fuel-system',
                'bore',
                'stroke',
                'compression-ratio',
                'horsepower',
                'peak-rpm',
                'city-mpg',
                'highway-mpg',
                'price']
data_list =[]
data = ["imports-85.data"]

for file in data:
    df_car = pd.read_csv(file, names = column_names)
    data_list.append(df_car)

In [36]:
df_car.shape

(205, 26)

In [37]:
df_car.head(5)

   symboling normalized-losses         make fuel-type aspiration num-of-doors   body-style drive-wheels engine-location  wheel-base  length  width  height  curb-weight engine-type num-of-cylinders  engine-size fuel-system  bore stroke  compression-ratio horsepower peak-rpm  city-mpg  highway-mpg  price
0          3                 ?  alfa-romero       gas        std          two  convertible          rwd           front        88.6   168.8   64.1    48.8         2548        dohc             four          130        mpfi  3.47   2.68                9.0        111     5000        21           27  13495
1          3                 ?  alfa-romero       gas        std          two  convertible          rwd           front        88.6   168.8   64.1    48.8         2548        dohc             four          130        mpfi  3.47   2.68                9.0        111     5000        21           27  16500
2          1                 ?  alfa-romero       gas        std          two    hatchback          rwd           front        94.5   171.2   65.5    52.4         2823        ohcv              six          152        mpfi  2.68   3.47                9.0        154     5000        19           26  16500
3          2               164         audi       gas        std         four        sedan          fwd           front        99.8   176.6   66.2    54.3         2337         ohc             four          109        mpfi  3.19   3.40               10.0        102     5500        24           30  13950
4          2               164         audi       gas        std         four        sedan          4wd           front        99.4   176.6   66.4    54.3         2824         ohc             five          136        mpfi  3.19   3.40                8.0        115     5500        18           22  17450

In [38]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [39]:
df_car.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'], dtype='object')

In [40]:
df_car_new = df_car[[ 'aspiration', 'num-of-doors','drive-wheels','num-of-cylinders','normalized-losses','make', 'fuel-type']]

In [41]:
df_car_new.head()

  aspiration num-of-doors drive-wheels num-of-cylinders normalized-losses         make fuel-type
0        std          two          rwd             four                 ?  alfa-romero       gas
1        std          two          rwd             four                 ?  alfa-romero       gas
2        std          two          rwd              six                 ?  alfa-romero       gas
3        std         four          fwd             four               164         audi       gas
4        std         four          4wd             five               164         audi       gas

In [42]:
df_car_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   num-of-doors       205 non-null    object
 2   drive-wheels       205 non-null    object
 3   num-of-cylinders   205 non-null    object
 4   normalized-losses  205 non-null    object
 5   make               205 non-null    object
 6   fuel-type          205 non-null    object
dtypes: object(7)
memory usage: 11.3+ KB

In [43]:
df_car_new['fuel-type'].value_counts()

fuel-type
gas       185
diesel     20
Name: count, dtype: int64

In [44]:
df_car_new = pd.get_dummies(df_car_new,
                             columns=['fuel-type'], 
                             drop_first=True,dtype=int)

In [30]:
df_car_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   num-of-doors       205 non-null    object
 2   drive-wheels       205 non-null    object
 3   num-of-cylinders   205 non-null    object
 4   normalized-losses  205 non-null    object
 5   make               205 non-null    object
 6   fuel-type_gas      205 non-null    int64
dtypes: int64(1), object(6)
memory usage: 11.3+ KB

In [31]:
df_car_new[-21:-1]

    aspiration num-of-doors drive-wheels num-of-cylinders normalized-losses        make  fuel-type_gas
184        std         four          fwd             four                94  volkswagen              0
185        std         four          fwd             four                94  volkswagen              1
186        std         four          fwd             four                94  volkswagen              1
187      turbo         four          fwd             four                94  volkswagen              0
188        std         four          fwd             four                94  volkswagen              1
189        std          two          fwd             four                 ?  volkswagen              1
190        std          two          fwd             four               256  volkswagen              1
191        std         four          fwd             five                 ?  volkswagen              1
192      turbo         four          fwd             four                 ?  volkswagen              0
193        std         four          fwd             four                 ?  volkswagen              1
194        std         four          rwd             four               103       volvo              1
195        std         four          rwd             four                74       volvo              1
196        std         four          rwd             four               103       volvo              1
197        std         four          rwd             four                74       volvo              1
198      turbo         four          rwd             four               103       volvo              1
199      turbo         four          rwd             four                74       volvo              1
200        std         four          rwd             four                95       volvo              1
201      turbo         four          rwd             four                95       volvo              1
202        std         four          rwd              six                95       volvo              1
203      turbo         four          rwd              six                95       volvo              0